<ActionBar class="action-bar">
    <GridLayout columns="*, auto">
        <Label class="action-bar-title" column="0" text="Продукты"></Label>
        <Button (tap)="onLogout()" *ngIf="currentUser" class="secondary" column="1" text="Выйти"></Button>
    </GridLayout>
</ActionBar>

<GridLayout rows="auto, auto, *" class="page page-content">
    <GridLayout row="0" columns="*, auto">
        <TextField column="0" [text]="filter" (textChange)="onFilterChange($event)" hint="Найти продукт"
                   class="input input-border text-input"></TextField>
        <Button column="1" text="Добавить" [nsRouterLink]="['new']" class="primary"></Button>
    </GridLayout>
    <GridLayout *ngIf="isSelectionMode" class="select-menu animated-height" row="1" columns="auto, auto, *, auto">
        <Button column="0" class="primary-medium"
                [text]="!isAllSelected ? 'Select all' : 'Unselect all'"
                (tap)="onSelectAll()"></Button>
        <Button column="1" class="warn" text="Delete" (tap)="onDeleteSelected()"></Button>
        <Button column="3" text="Close" (tap)="onCloseSelectMenu()"></Button>
    </GridLayout>

    <RadListView row="2" swipeActions="true"
                 #myListView
                 [selectionBehavior]="isSelectionMode ? 'Press' : 'LongPress'"
                 [multipleSelection]="true"
                 [items]="groceries"
                 [filteringFunction]="filtering"
                 (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
                 (itemSelected)="onItemSelected($event)"
                 (itemDeselected)="onItemDeselected($event)"
    >
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="horizontal" class="list-item" Spacing="20pt">
                <GridLayout columns="*, *" rows="auto, auto" (tap)="onTapItem(item)"
                            (longPress)="onLongPressItem(item)">
                    <Label row="0" col="0" class="list-item__label-name" textwrap="true" [text]="item.name"></Label>
                    <Label row="0" col="1" class="list-item__label-amount" [text]="item.amount + ' шт'"></Label>
                    <Label row="1" col="1" class="list-item__label-date" [text]="getUpdateDateView(item)"></Label>
                </GridLayout>
            </StackLayout>
        </ng-template>

        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
            <StackLayout id="delete-view" col="1" class="delete-view" (tap)="onRightSwipeClick($event)">
                <Image src="font://&#xf1f8;" class="fa"></Image>
            </StackLayout>
        </GridLayout>
    </RadListView>
</GridLayout>
