<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Продукты"></Label>
</ActionBar>

<GridLayout rows="auto, *" class="page page-content">
    <GridLayout row="0" columns="*, auto">
        <TextField column="0" [text]="filter" (textChange)="onFilterChange($event)" hint="Найти"
                   class="input input-border text-input"></TextField>
        <Button column="1" text="Добавить" (tap)="onAddButtonTap()" class="add-btn"></Button>
    </GridLayout>

    <RadListView [items]="groceries" row="1" swipeActions="true"
                 (itemSwipeProgressStarted)="onSwipeCellStarted($event)">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout [nsRouterLink]="[item.id]" class="list-item list" orientation="vertical">
                <Label class="list-item__label-name" [text]="getTextView(item)"></Label>
                <Label class="list-item__label-text" [text]="getItemView(item)"></Label>
            </StackLayout>
        </ng-template>

        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
            <StackLayout id="delete-view" col="1" class="delete-view" (tap)="onRightSwipeClick($event)">
                <Image src="font://&#xf1f8;" class="fa"></Image>
            </StackLayout>
        </GridLayout>
    </RadListView>
</GridLayout>
