@import '../../../app.component';

.text-input {
  color: white;
  font-size: 18pt;
  padding: 2pt 10pt;
  placeholder-color: rgba(255, 255, 255, 0.8);
}

.delete-view {
  background-color: white;
  color: $warn-color;
  padding: 8pt;
  border-bottom-width: 1pt;
  border-bottom-color: #ddd;
}

.list-item {
  padding: 4pt 10pt;
  border-bottom-width: 1pt;
  border-bottom-color: #ddd;

  &__label-name {
    font-size: 22pt;
  }

  &__label-user {
    font-size: 12pt;
  }

  &__label-date {
    font-size: 12pt;
    text-align: right;
  }

  &__label-amount {
    font-size: 20pt;
    text-align: right;
  }
}

@keyframes animated-height {
  from {
    height: 0;
  }
  to {
    height: 12%;
  }
}

.select-menu {
  animation-name: animated-height;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
