<ActionBar class="action-bar">
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label [text]="grocery ? grocery.name : 'Новая покупка'" class="action-bar-title"></Label>
</ActionBar>

<GridLayout rows="auto, auto, auto">
    <TextField #nameTextField
               row="0"
               hint="Продукт"
               class="input input-border text-input"
               [text]="grocery ? grocery.name : groceryForm.name"
               (textChange)="onTextNameChange($event)"
    ></TextField>
    <TextField row="1"
               hint="Количество"
               keyboardType="number"
               class="input input-border text-input"
               [text]="grocery ? grocery.amount : groceryForm.amount"
               (textChange)="onTextAmountChange($event)"
    ></TextField>
    <Button row="2" [text]="grocery ? 'Сохранить' : 'Создать'" (tap)="onButtonTap()" class="add-btn"></Button>
</GridLayout>
