.list-label {
  color: white;
  font-size: 24pt;
}

.add-btn {
  background-color: #8e24ff;
  color: white;
  font-size: 16pt;
}

.delete-view {
  background-color: white;
  color: red;
  padding: 8pt;
  border-bottom-width: 1pt;
  border-bottom-color: #ddd;
}

.list-item {
  padding: 2pt 10pt;
  border-bottom-width: 1pt;
  border-bottom-color: #ddd;

  &__label-name {
    font-size: 20pt;
    margin-bottom: 8pt;
  }

  &__label-text {
    font-size: 12pt;
  }
}
