<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf002;"></Label>
    <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>

    <StackLayout class="p-15" sdkExampleTitle sdkToggleNavButton>
        <Button class="btn btn-primary btn-active" text="Display Prompt Dialog" (tap)="displayPromptDialog()"></Button>
        <Button class="btn btn-primary btn-active" text="create User" (tap)="createUser()"></Button>
        <Button class="btn btn-primary btn-active" text="login" (tap)="login()"></Button>
        <Button class="btn btn-primary btn-active" text="logout" (tap)="logout()"></Button>
        <Label class="btn btn-primary btn-active" [text]="(user$ | async)?.email"></Label>
    </StackLayout>
</GridLayout>
